<h1>Las vocales!</h1>

<%= audio_tag "a.mp3", class: "audio-play" %>
<button type="button" class="btn btn-primary btn-lg", id="audioButtonA">A</button>

<br><br>

<%= audio_tag "e.mp3", class: "audio-play" %>
<button type="button" class="btn btn-primary btn-lg", id="audioButtonE">E</button>

<br><br>

<%= audio_tag "i.mp3", class: "audio-play" %>
<button type="button" class="btn btn-primary btn-lg", id="audioButtonI">I</button>

<br><br>

<%= audio_tag "o.mp3", class: "audio-play" %>
<button type="button" class="btn btn-primary btn-lg", id="audioButtonO">O</button>

<br><br>

<%= audio_tag "u.mp3", class: "audio-play" %>
<button type="button" class="btn btn-primary btn-lg", id="audioButtonU">U</button>


<br><br>
<%= link_to 'Home', root_path %>