<h1>Works :)</h1>

<%= link_to 'Las Vocales', vocales_path %><br>

<%= link_to 'Palabras al Azar', words_path %><br>

<%= link_to 'Palabras con A', a_path %><br>
<%= link_to 'Palabras con E', e_path %><br>
<%= link_to 'Palabras con I', i_path %><br>
<%= link_to 'Palabras con O', o_path %><br>
<%= link_to 'Palabras con U', u_path %><br>