
<div class="booyah-box col-xs-10 col-xs-offset-1 text-center">
  <h1>LAS VOCALES</h1>

  <p><i>Un primer paso para leer en español</i></p>

  <hr>

  <h2>Escúchalas</h2>

  <%= link_to vocales_path do %>
    <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
  <% end %>

  <hr>

  <h2>Palabras con...</h2>

  <br>
  
  <%= link_to a_path do %>
    <span class="smaller-vowel-circle">A</span>
  <% end %>

  &nbsp

  <%= link_to e_path do %>
    <span class="smaller-vowel-circle">E</span>
  <% end %>

  &nbsp

  <%= link_to i_path do %>
    <span class="smaller-vowel-circle">I</span>
  <% end %>

  &nbsp

  <%= link_to o_path do %>
    <span class="smaller-vowel-circle">O</span>
  <% end %>

  &nbsp

  <%= link_to u_path do %>
    <span class="smaller-vowel-circle">U</span>
  <% end %>

  <br><br>

  <hr>

  <h2>Práctica</h2>

  <%= link_to azar_path do %>
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
  <% end %>
</div>
