
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Las Vocales</h1>

  <br>
  
  <%= link_to 'Escucha las vocales', vocales_path %><br><br>

  <%= link_to 'Palabras con A', a_path %><br>
  <%= link_to 'Palabras con E', e_path %><br>
  <%= link_to 'Palabras con I', i_path %><br>
  <%= link_to 'Palabras con O', o_path %><br>
  <%= link_to 'Palabras con U', u_path %><br><br>

  <%= link_to 'Práctica', azar_path %>
</div>
