<div class="booyah-box col-xs-10 col-xs-offset-1">
  <div class="text-center">

    <%= audio_tag(@random_e.sound, autoplay: true) %>

    <!-- circled vowel plays sound -->
    <%= audio_tag "e.mp3", class: "audio-play" %>
    <%= link_to '#', id: 'audioButtonE' do %>
      <span class="vowel-circle">E</span>
    <% end %>

    <br><br>

    <%= audio_tag @random_e.sound %>
    <%= link_to '#', id: 'vowelButton' do %>
      <%= image_tag(@random_e.image, class: 'img-responsive') %>
    <% end %>

    <br><br>

    <mark><%= @random_e.term %></mark>

    <br><br><br>

    <%= link_to e_path do %>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    <% end %>

    <br><br><br><br>

    <%= link_to root_path do %>
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    <% end %>
  </div>
</div>
