<div class="booyah-box col-xs-10 col-xs-offset-1">
  <div class="text-center">

    <!-- hero links @word.sound to autoplay -->
    <%= audio_tag("test.mp3", autoplay: true) %>
    
    <!-- circled vowel plays sound -->
    <%= audio_tag "o.mp3", class: "audio-play" %>
    <%= link_to '#', id: 'audioButtonO' do %>
      <span class="vowel-circle">O</span>
    <% end %>

    <br><br>

    <%= image_tag(@random_o.image, class: 'img-responsive') %>

    <br><br>

    <mark><%= @random_o.term %></mark>

    <br><br><br>

    <%= link_to o_path do %>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    <% end %>

    <br><br><br><br>

    <%= link_to root_path do %>
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    <% end %>
  </div>
</div>
