<div class="booyah-box col-xs-10 col-xs-offset-1">
  <div class="text-center">

    <%= audio_tag(@word.sound, autoplay: true) %>
    
    <%= link_to '#', id: 'azarButton' do %>
      <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
      <br><br>
      <%= image_tag(@word.image, class: 'img-responsive') %>
    <% end %>
    
    <br><br><br>

    <!-- button display logic -->
    <%= audio_tag "error.mp3", class: "audio-play" %>
    <% if @word.term[0] == "a" %>
      <%= link_to 'A', azar_path, class: 'btn btn-success btn-lg' %>
    <% else %>
      <button type="button" class="btn btn-success btn-lg audio-button">A</button>
    <% end %>

    &nbsp

    <% if @word.term[0] == "e" || @word.term[0] == "é" %>
      <%= link_to 'E', azar_path, class: 'btn btn-success btn-lg' %>
    <% else %>
      <button type="button" class="btn btn-success btn-lg audio-button">E</button>
    <% end %>

    &nbsp

    <% if @word.term[0] == "i" || @word.term[0] == "í" %>
      <%= link_to 'I', azar_path, class: 'btn btn-success btn-lg' %>
    <% else %>
      <button type="button" class="btn btn-success btn-lg audio-button">I</button>
    <% end %>

    &nbsp

    <% if @word.term[0] == "o" || @word.term[0] == "ó" %>
      <%= link_to 'O', azar_path, class: 'btn btn-success btn-lg' %>
    <% else %>
      <button type="button" class="btn btn-success btn-lg audio-button">O</button>
    <% end %>

    &nbsp

    <% if @word.term[0] == "u" || @word.term[0] == "ú" %>
      <%= link_to 'U', azar_path, class: 'btn btn-success btn-lg' %>
    <% else %>
      <button type="button" class="btn btn-success btn-lg audio-button">U</button>
    <% end %>
    <!-- button end logic -->

    <br><br><br><br><br>

    <%= link_to root_path do %>
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    <% end %>
  </div>
</div>
