<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Vocabulario</h1>

  <p>Este es un listado de las <%= Word.count %> palabras usadas en esta aplicación:</p>
  
  <br>

  <% @words.each do |word| %>
    <%= link_to word_path(word) do %>
      <div class="col-sm-1">
        <%= image_tag word.image_url(:thumb) if word.image? %>
      </div>
      <div class="col-sm-1">
        <%= word.term %> 
      </div>
    <% end %>

    <% if current_user.try(:admin?) %>
      <div class="col-sm-1">
        <%= link_to 'Modificar', edit_word_path(word), class: 'btn btn-primary' %>
      </div> 
      <div class="col-sm-1">
        <%= link_to 'Eliminar', word_path(word), class: 'btn btn-danger',
          method: :delete, 
          data: { confirm: '¿Estás seguro que quieres eliminar esta entrada? La imagen y audio no van a poder ser recuperados después.'} %>
      </div>
    <% end %>
    
    <div class="clear"></div>
    <br><br>
  <% end %>
  

  <% if current_user.try(:admin?) %>
    <br>
    <%= link_to "Agregar Palabra", new_word_path, class: 'btn btn-success' %><br><br>
  <% end %>
  
  <br><br>

  <div class="text-center">
    <%= link_to root_path do %>
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    <% end %>
  </div>

</div>

