<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Todas las palabras</h1>

  <ul>
  <% @words.each do |word| %>
    <li>
      <%= word.term %> &nbsp
      <%= link_to 'Editar', edit_word_path(word) %> &nbsp
      <%= link_to 'Delete', word_path(word), 
          method: :delete, 
          data: { confirm: 'Are you sure you want to delete this word? '} %>
    </li><br>
  <% end %>
  </ul>

  <%= link_to "Agregar Palabra", new_word_path %><br><br>

  <%= link_to "Home", root_path %><br>

</div>

